h2 {
  text-align: center;
  font-size: 3rem;
}

button {
  color: blueviolet;
  font-size: 2rem;
}

.header { text-align: center; }

.control-btns {
  display: flex;
  justify-content: space-around;
}

.control-btns_clear {
  font-size: 1.5rem;
}

.control-btns_add {
  line-height: 0.9;
}

.add-text, .clear-text {
  font-size: 1.8rem;
  color: green;
}



.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}

.field {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 6px;
  background-color: rgb(216, 220, 225);
}

.elem {
  display: flex;
  align-items: center;
}
.elem > div {
  margin-right: 6px;
  margin-left: 10px;
  font-size: 18px;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-right: 1px solid black;
}

.remove-btn {
  line-height: 0.9;
}

.result-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 10px auto;
}

.result-container div {
  font-size: 20px;
}